
.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #1f3b4d; /* Deep Blue */
    top: 0px;
    margin: 0px;
    height: 50px;
    width: 1286px;
   /* nav bar will stay on top, will not come alon as I scroll down*/
    z-index: 1000; /* if 2 elements overlap, the one with a higher z-index value will be displayed on top*/
   
  }
  
  .navbar-logo {
    font-size: 28px;
    font-weight: bold;
    font: 'Helvetica Neue';
     left: 15px; 
     position: absolute;
    color: #f0c27b; /* Soft Gold */
  }
  
  .navbar-logo:hover {
    color: #f5d7a3; /* Lighter Gold on hover */
    cursor: pointer;
  }
  
  .navbar-links {
    list-style-type: none;
    position: absolute;
    font: 'Arial';
    left: 450px;
    display: flex;
    gap: 30px;
    margin: 0;
  }
  
  .navbar-links li {
    font-size: 20px;
    color: #f4f4f9; /* Light Gray */
    position: relative;
    transition: color 0.3s ease;
  }
  
  .navbar-links li:hover {
    color: #f0c27b; /* Soft Gold on hover */
    cursor: pointer; 
  }
  
  /* Add underline effect on hover */
  .navbar-links li::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #f0c27b;
    transition: width 0.3s ease;
  }
  
  .navbar-links li:hover::after {
    width: 100%; /* line will appear till this width*/
  }
  
  .navbar-user-menu button {
    margin-left: 15px;
    padding: 8px 18px;
    border: 2px solid #f0c27b;
    background-color: transparent;
    color: #f0c27b;
    border-radius: 30px;
    font-size: 18px;
    font: 'sans-serif';
    font-weight: 500;
  }
  
  .navbar-user-menu
  {
    position: absolute;
    right: 10px;
  }
  .navbar-user-menu button:hover {
    background-color: #f0c27b;
    color: #1f3b4d; /* Deep Blue text */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }